       <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
       <link href="cover.css" rel="stylesheet">
       <body>
       <div class="inner cover">
       	<div align="center">
            <h1 class="cover-heading">Pondered.</h1>
            <p class="lead">Share what with people.</p>
            <p class="lead">
            	<a button type="button" class="btn btn-primary btn-lg">Explore</button> 
                        <li><%= link_to "explore" , "explore"%></li>
            	</a>
            
            </p>
    </div>
</div>
</body>