       <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
       <link href="cover.css" rel="stylesheet">
       <body><br><br><br><br><br><br><br><br>
       <div class="inner cover">
       	<div align="center">
            <h1 class="cover-heading">Pondered.</h1>
            <p class="lead">Share stories and experiences with people.</p>
            <br>
            <p class="lead">
            	<a button type="button" class="btn btn-primary btn-lg" <%= link_to "Explore" , categories_path%>
                  </button>
                  </a>
            
            </p>

    </div>
</div>
</body>