<footer class="divider">
	<div class="container">
		<li class="footer-left">
			2014
   	<span class="footer-logo">
   		Pondered
   		By Bamidele Eribo & Chandni Shah
   	</li>
   	<li class="footer-right">
	<li><%= link_to "About" , about_path %></li>
     <li><%= link_to "Contact Us" , contact_path %></li>
 </li>
</div>