<footer>
  <div class="container">
    <p class="text-muted">
   		Pondered
   		By Bamidele Eribo & Chandni Shah.
   	</p>

   <li class="footer-links">
     <p><%= link_to "Contact Us" , contact_path %></p>
 </li>
</div>